/*
=====================================================
|                                                   |
|                  The main content                 | 
|                                                   |
=====================================================
*/

#main-doc {
    margin-left: 30%;
}

#main-doc header {
    font-size: 25px;
    font-weight: 900;
    margin-left: -15px;
}

/*
=====================================================
|                                                   |
|                      Side Bar                     | 
|                                                   |
=====================================================
*/

#navbar {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: scroll;
    padding-top: 20px;
}

#navbar a {
    text-decoration: none;
    color: black;
}

#navbar header {
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

/* All paragraphs in the content*/
p {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(14, 13, 13, 0.8);
    text-align: justify;
}

/* All unordered lists in the content*/
ul {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(14, 13, 13, 0.8);
    text-align: justify;
    margin-left: 20px;
}

/*
=====================================================
|                                                   |
|                 Basic Operators                   | 
|                                                   |
=====================================================
*/

#basic_operators a {
    text-decoration: none;

}

/* All images in the content*/
img {
    position: relative;
    margin: 0 200px;
    
}

/*
=====================================================
|                                                   |
|                 Decision Making                   | 
|                                                   |
=====================================================
*/

#decision_making li {
    font-style: oblique;
}

.if_expression {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: italic;
    color: grey;
    font-size: 14px;
    background-color: rgb(233, 221, 221, 0.4);
    padding: 10px;
}

.if_else {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: italic;
    color: grey;
    font-size: 14px;
    background-color: rgb(233, 221, 221, 0.4);
    padding: 10px;
}

.nested span {
    display: block;
}

.nested_example span {
    display: block;
}


.nested {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: italic;
    color: grey;
    font-size: 14px;
    background-color: rgb(233, 221, 221, 0.4);
    padding: 10px;
}

.nested_example {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: italic;
    color: grey;
    font-size: 14px;
    background-color: rgb(233, 221, 221, 0.4);
    padding: 10px;
}

/*
=====================================================
|                                                   |
|                        Loops                      | 
|                                                   |
=====================================================
*/

#loops li {
    font-style: oblique;
}

.while span {
    display: block;
}

.while_example span {
    display: block;
}

.while,.while_example,.for_loop, .for_example {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: italic;
    color: grey;
    font-size: 14px;
    background-color: rgb(233, 221, 221, 0.4);
    padding: 10px;
}



.nested_loop span, .nested_loop_example span {
    display: block;
}

.nested_loop, .nested_loop_example {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: italic;
    color: grey;
    font-size: 14px;
    background-color: rgb(233, 221, 221, 0.4);
    padding: 10px;
}

/*
=====================================================
|                                                   |
|                       Numbers                     | 
|                                                   |
=====================================================
*/

.var12,.del, .del_var, .number_example {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: italic;
    color: grey;
    font-size: 14px;
    background-color: rgb(233, 221, 221, 0.4);
    padding: 10px;
}

/*
=====================================================
|                                                   |
|                       Strings                     | 
|                                                   |
=====================================================
*/

.string_problem, .string_result, .list_problem, .list_result, .tuple_problem, .tuple_result {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: italic;
    color: grey;
    font-size: 14px;
    background-color: rgb(233, 221, 221, 0.4);
    padding: 10px;
}

/*
=====================================================
|                                                   |
|                 Dictionary                   | 
|                                                   |
=====================================================
*/

.dictionary_problem, .dictionary_result {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: italic;
    color: grey;
    font-size: 14px;
    background-color: rgb(233, 221, 221, 0.4);
    padding: 10px;
}

/*
=====================================================
|                                                   |
|                    Functions                      | 
|                                                   |
=====================================================
*/

.func span, .func_example span {
    display: block;
}

.func, .func_example {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: italic;
    color: grey;
    font-size: 14px;
    background-color: rgb(233, 221, 221, 0.4);
    padding: 10px;
}

/*
=====================================================
|                                                   |
|                 Modules & Files I/O               | 
|                                                   |
=====================================================
*/

.module_example span {
    display: block;
}

.module_example, .io, .output, .io_example {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: italic;
    color: grey;
    font-size: 14px;
    background-color: rgb(233, 221, 221, 0.4);
    padding: 10px;
}



/*
=====================================================
|                                                   |
|           MEDIA QUERY TO MAKE THE WEBSITE         |
|           MORE RESPONSIVE TO MOBILE               | 
|                                                   |
=====================================================
*/

@media screen and (max-width:480px) {

    /*
    =====================================================
    |                                                   |
    |                  The main content                 | 
    |                                                   |
    =====================================================
    */
    #main-doc {
        overflow: hidden;
    }

    #main-doc header {
        font-size: 18px;
        font-weight: 600;
        margin-left: 0em;
    }

    /* All images in the content*/
    img {
        position: relative;
        margin: auto;       
    }

    /*
    =====================================================
    |                                                   |
    |                      Side Bar                     | 
    |                                                   |
    =====================================================
    */

    #navbar header {
        font-weight: 600;
        font-size: 12px;
        
    }

    #navbar a {
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 15px;
        overflow: scroll;
    }

    /* All paragraphs & unordered lists in the content*/
    p, ul {
        font-size: 12px;
    }

    /* Font size for all coding examples */
    .if_expression, .if_else, .nested, .nested_example, .while,.while_example,
    .for_loop, .for_example, .nested_loop, .nested_loop_example, .var12,.del, 
    .del_var, .number_example, .string_problem, .string_result, .list_problem, 
    .list_result, .tuple_problem, .tuple_result, .dictionary_problem, .dictionary_result, 
    .func, .func_example, .module_example, .io, .output, 
    .io_example {
        font-size: 10px;
    }

}